# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/

## Resource Not Shared
audios/
videos/
audios_converted/
videos_converted/
videos_trimmed/
*.csv

## Test File For Experiments
test.py
__pycache__/logger.cpython-38.pyc
*.wav
*.mp3
*.mp4

## Temporary
# video_clip_src.py
